<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Remarque : au lieu d'éditer manuellement ce fichier, vous pouvez utiliser
    l'outil d'administration Web pour configurer les paramètres de votre
    application. Utilisez l'option Site Web->Configuration Asp.Net de Visual
     Studio.
    Vous trouverez la liste complète des paramètres et commentaires dans 
    machine.config.comments, situé généralement dans 
    \Windows\Microsoft.Net\Basis19\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<clear />
		<add name="SqlConnectionService" connectionString="Data Source=MSI;Initial Catalog=Serv;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataET" connectionString="Data Source=MSI;Initial Catalog=Serv;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataSO" connectionString="Data Source=MSI;Initial Catalog=SO;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataTA" connectionString="Data Source=MSI;Initial Catalog=TA;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataTR" connectionString="Data Source=MSI;Initial Catalog=TR;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataCA" connectionString="Data Source=MSI;Initial Catalog=CA;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataCO" connectionString="Data Source=MSI;Initial Catalog=CO;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataPT" connectionString="Data Source=MSI;Initial Catalog=PT;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataPL" connectionString="Data Source=MSI;Initial Catalog=PL;User ID=CNX;Password=31March62bd$" />
		<add name="SqlConnectionDataPDJ" connectionString="Data Source=MSI;Initial Catalog=PDJ;User ID=CNX;Password=31March62bd$" />
	</connectionStrings>
	<appSettings>
		<add key="Environnement" value="DEV" />
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="aspnet:MaxHttpCollectionKeys" value="10000" />
		<add key="DureeMdP" value="180" />
		<add key="Logo" value="~/Commun/Images/LOGO complet 500.jpg" />
		<!-- Paramètres d'écriture des LOGS : valeur binaire :
    0 pas de log 2 log ouverture écrans 4 log fonctions 8 log erreurs 16 log états 32 log intentions  64 log annulation
    -->
		<add key="LogLogin" value="8" />
		<add key="LogCA" value="127" />
		<add key="LogCO" value="127" />
		<add key="LogET" value="127" />
		<add key="LogPT" value="127" />
		<add key="LogPL" value="127" />
		<add key="LogSO" value="127" />
		<add key="LogTA" value="127" />
		<add key="LogTR" value="127" />
		<add key="SessionTimeOutCA" value="120" />
		<add key="SessionTimeOutCO" value="120" />
		<add key="SessionTimeOutET" value="120" />
		<add key="SessionTimeOutPT" value="120" />
		<add key="SessionTimeOutPL" value="120" />
		<add key="SessionTimeOutSO" value="120" />
		<add key="SessionTimeOutTA" value="120" />
		<add key="SessionTimeOutTR" value="120" />
	</appSettings>
	<devExpress>
		<themes enableThemesAssembly="false" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings rightToLeft="false" accessibilityCompliant="false" doctypeMode="Html5" checkReferencesToExternalScripts="false" protectControlState="true" ieCompatibilityVersion="edge" bootstrapMode="" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
	<!--
		Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

		Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
			<system.Web>
				<httpRuntime targetFramework="4.5.2" />
			</system.Web>
	-->
	<system.web>
		<!-- 
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur à true uniquement 
            lors du Developpement.
        -->
		<pages theme="" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<globalization uiCulture="fr" />
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="DevExpress.Data.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.PivotGrid.v21.2.Core, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Printing.v21.2.Core, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Utils.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraEditors.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPivotGrid.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPrinting.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxThemes.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v21.2.Core, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxTreeList.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
		<authentication mode="Windows" />
		<!--
            La section <customErrors> permet de configurer 
            les actions à exécuter si/quand une erreur non gérée se produit 
            lors de l'exécution d'une demande. Plus précisément, 
            elle permet aux développeurs de configurer les pages d'erreur html 
            pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" DefaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
			<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="ET/landing.aspx" />
			</files>
		</defaultDocument>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.2, Version=21.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
